
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>

    <style>
        body {
            background-image: url("~/Views/Background.jpg");
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>


<body>
    <div> 
       
    </div>
</body>
</html>
